[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
pathlib = "*"
datetime = "*"
plotly = "*"
seaborn = "*"
Pillow = ">=10.2.0"
pyarrow = "*"
mpl-axes-aligner = "*"

[dev-packages]
black = ">=26.3.1"
ipykernel = "*"

[requires]
python_version = "3.11"
